.App {
  text-align: center;
  padding: 5px;
  margin: auto;
}

.app_form {
  width: 100%;
  background-color: grey;
  z-index: 1;
  position: fixed;
  bottom: 0; 
}

.app_formcontrol {
  display: flex !important;
  flex-direction: row !important;
}

.app_input {
  flex: 1;
}

.app_iconbutton {
  flex: 0;
}
